.logoContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    z-index: 500;
}
.formContainer{
    // padding-top: 4rem;
    // display: flex;
    z-index: 1090;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(
    #7f3e1a 20%, #f08c2b 40%, #f4e038 60%, #f6f6f6 100%);
    display: flex;
    .formBlock{
        background-color: rgba($color: white, $alpha: 0.6);
        padding: 2rem;
        width:75% ;
        justify-content: center;
        border-radius: 0.4rem;
        z-index: 900;
        a{
            color: black;
            font-weight: bolder;
        }
    }

}