.logo{
    height: 3rem;
}
.ant-layout-header {
    padding: 0px !important;
}
.ant-menu.ant-menu-dark{
  background-color:#211d1d!important;
}
.ant-menu-item-selected, .ant-menu-item:hover{
  background-color:#f4e038 !important ;
}
