.themeSwitchContainer{
    display: flex;
    justify-content: center;
    margin: 0.3rem;
    // align-items: center;
    // align-content: center;
    // position:absolute;
    // top:2rem;
    // right: 2rem;
    // width: 4rem;
    // z-index: 1070;
    // transform: translateY(-50%);
    

}
.d-none{
    display: none !important;
}
.cart{
    position: relative;
}


.ant-menu-item a {
    color: rgba(255, 255, 255, 0.65) !important
}
.ant-badge-count{
    transform: translate(150%, -45%) !important
}