.themeSwitchContainer{
    display: flex;
    justify-content: center;
    margin: 0.3rem;
    // align-items: center;
    // align-content: center;
    // position:absolute;
    // top:2rem;
    // right: 2rem;
    // width: 4rem;
    // z-index: 1070;
    // transform: translateY(-50%);
    

}
.d-none{
    display: none !important;
}
.cart{
    position: relative;
}