:root{
    --color1: #211d1d;
    --color2: #7f3e1a;
    --color3: #f08c2b;
    --color4: #f4e038;
    --color5: #f6f6f6;
    --grey1:#545454 ;
    --grey2:#737373 ;
    --grey3:#a6a6a6 ;
    --grey4:#d9d9d9 ;
  
  }