:root{
  --color1: #211d1d;
  --color2: #7f3e1a;
  --color3: #f08c2b;
  --color4: #f4e038;
  --color5: #f6f6f6;
  --grey1:#545454 ;
  --grey2:#737373 ;
  --grey3:#a6a6a6 ;
  --grey4:#d9d9d9 ;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: var(--color1);
}