.error404{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    overflow: hidden;
    height: 100%;
    margin: 0;
    background-image: url(https://www.seekpng.com/png/full/813-8134616_national-burger-day-hamburger-with-flying-ingredients.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    .error{
        color: white;
        text-shadow: 3px 3px 1px black;
    }
    button{
        width: 3rem;

    }
    .button{
        color: white !important;
    }
    
}